<div class="container">
	<h2>Pay & Get Paid</h2>
	<span>Our Pay & Get Paid API's help you accept local & global card payment, alternative payment methods like Bank Account Payment & Mobile Money Wallet as well as allow you to send money to over 135 million accounts in over 9 countries. </span>
	<ul>
		<li><a href="/payment"><button type="button" class="btn btn-default">Pay & Get Paid</button></a></li>
	</ul>
	<h2>VBV & Securecode Test</h2>
	<span>This helps you test out how our hosted response html works. </span>
	<ul>
		<li><a href="/vbvsecurecode"><button type="button" class="btn btn-default">VBVSECURECODE</button></a></li>
	</ul>
	<h2>3DES</h2>
	<span>This helps 3DES encrypt and decrypt data. </span>
	<ul>
		<li><a href="/tripledes"><button type="button" class="btn btn-default">3DES</button></a></li>
	</ul>
	<h2>Card Number Generator</h2>
	<span>This helps you generate Nigerian debit cards using the luhn algorithm. </span>
	<ul>
		<li><a href="/generator"><button type="button" class="btn btn-default">Generator</button></a></li>
	</ul>
</div>